.repos > li ul,
#filters {
  display: flex;
  padding: 0;
}
.repos > li li,
#filters li {
  padding: 3px 15px;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0 0 0 1px #ddd;
  transition: .3s ease;

}
#filters li.selected {
  box-shadow: none;
  background: #3bd9d0;
  color: #fff;
}

.repos > li li:not(:first-child),
#filters li:not(:first-child) {margin-left: 15px}

.repos {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.repos > li {
  width: 305px;
  border: 1px solid #aaa;
  padding: 20px;
  box-sizing: border-box;
  margin: 15px 15px 15px 0;
}
