body {
  overflow-x: hidden;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  font-size: 12px;
  background: rgba(232, 245, 255, 0.1);
  font-family: 'reg';
  letter-spacing: .03em;
  color: #3c3f50;
}
ul {list-style: none}

section {
  width: 1280px;
  margin: 0 auto;
  position: relative;
}

a {
  text-decoration: none;
  color: #0dd4b8;
}

input[type="text"] {
  background: none;
  border: none;
  border-bottom: 1px solid #ddd;
  font-size: .8em;
  padding: 3px 0;
}

h1,h2,h3,h4 {margin: 0}

.pTop { padding-top: 80px }




@media (min-width:1280px) {

}
